---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Footer from '../components/Footer.astro';
import AIpp from '../components/AIpp.astro';
import Fenlei from '../components/Fenlei.astro';
---
<Layout title="AI工具">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #646060;
}

.topnav a {
  float: left;
  color: #121c55;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
</style>
</head>
<body>

<div class="topnav">
  <a href="/">首页</a>
  <a href="/about">关于我们</a>
  <a href="/z1">AI工具</a>
  <a href="/z2">实习资讯</a>
  <a href="z3">就业政策</a>
  <a href="z4">简历制作</a>
</div>
<html lang="en">
  <head>
    <title>My Homepage</title>
    
    <h1>AI工具</h1>
<h2>AI作为现代生产力革命的代表产物，对日常内容生产事务有着极强的赋能作用</h2>
  </head>
  <body>
<style>
    h1{
        text-align:center
    }
    h2{
        text-align:center
    }
  


</style>




<Fenlei />

<AIpp />
<Footer />
  </body>
</html>
