---
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Tou from '../components/Tou.astro';
import Shixifen from '../components/Shixifen.astro';
import Shixizi from '../components/Shixizi.astro';
---
<Layout title="AI工具"></Layout>
<Tou />
<html lang="ch">
  <head>
    <title>实习资讯</title>
    
    <h1>实习资讯的获取方法</h1>
<h2>实习资讯的查询方法多种多样，以下是一些常见的途径：</h2>
  </head>
  <body>
 <Shixifen />
 <Shixizi /> 
<style>
    h1{
        text-align:center
    }
    h2{
        text-align:center
    }



</style>
<Footer />