---
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
import Tou from '../components/Tou.astro';
import Jiuyezi from '../components/Jiuyezi.astro';
import Jiuyexi from '../components/Jiuyexi.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="就业政策"></Layout>
<Tou />
<html lang="ch">
  <head>
    <title>就业政策</title>
    
    <h1>就业政策</h1>
<h2>就业政策对于个人、企业和整个社会都具有极其重要的意义。以下是就业政策重要性的几个方面：</h2>
  </head>
  <body>
    <Jiuyexi />
<Jiuyezi />
<Footer />
  </body>
  
  <style>
    h1{
        text-align:center
    }
    h2{
        text-align:center
    }



</style>