---
import Footer from '../components/Footer.astro';
import Tou from '../components/Tou.astro';
import Layout from '../layouts/Layout.astro';
import Jianlizi from '../components/Jianlizi.astro';
import Jian1 from '../components/Jian1.astro';
import Jian2 from '../components/Jian2.astro';
import Jian3 from '../components/Jian3.astro';
import Jian4 from '../components/Jian4.astro';
---
<Layout title="简历制作"></Layout>
<Tou />
<html lang="ch">
  <head>
    <title>简历制作</title>
    
    <h1>简历的重要性</h1>
<h2>求职简历在求职过程中扮演着至关重要的角色，以下是它的重要性所在：</h2>
  </head>
  <body>
  
    <Jianlizi />
    <Jian1 />
<Jian2 />
<Jian3 />
<Jian4 />


</body>
     <Footer />
  <style>
     h1{
        text-align:center
    }
    h2{
        text-align:center
    }

  </style>