---
---

<footer>
 <div id="example2">
    <p>野人洞观 - 版权所有</p>
 <p>作者：邱思忆 蓝宇豪 杨帆</p>
    </div>
<style>
p
{
    text-align:center
}

</style>
<style>
    h1
    {color: #0c2851;}

    #example2 {
  border: 5px solid rgb(15, 46, 184);
  padding: 5px;
  border-radius: 30px 20px;
  margin:0 auto;
  width: 630px;
}
#example1
{
    margin:0 auto;
    border:10px solid #6484bc;
    padding:10px 40px; 
    background:#c6c8db;
    width:840px;
    border-radius:25px;
}
  </style>
  </footer>

