---
---
<a  class="fcc-btn" href="/posts/jianlicopy3.html">写简历的四大原则&STAR法则(点此进入)</a>



<style>

.fcc-btn {
    background-color: #313ed4;
    color: white;
    padding: 15px 25px;
    text-decoration: none;

  }
  .fcc-btn:hover {
  background-color: #2eb0c7;
}
    a{
      margin: auto;
    }
</style>
